/* PADRÃO CIRCULAR DO FUNDO */
body {
    margin: 0rem;
    padding: 0rem;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.background {
    margin: 0rem;
    padding: 0rem;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    background-color: black;

    z-index: 0;
    display:flex;
    flex-wrap: wrap; /* envolve o conteúdo na DIV */
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.circle-pattern {
    width: fit-content;
    height: fit-content;

    margin: 5rem; /* TAMANHO DA LISTRA PRETA*/

    border: 5rem solid #ff1112; /* TAMANHO DA LISTRA VERMELHA*/
    border-radius: 50%;

    position: relative;
}

@media only screen and (max-width: 600px) {
    .circle-pattern {
    margin: 2.5rem; /* TAMANHO DA LISTRA PRETA*/

    border: 2.5rem solid #ff1112; /* TAMANHO DA LISTRA VERMELHA*/
}
}

/* CONTEÚDO */
.content {
    width: 100vw;
    height: 100vh;

    z-index: 10000;
    position: absolute;

    color: black;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


/* LOGO */
.logo {
    width: 25vw;
    height: 30vh;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 50vw;
        height: 30vh;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .logo{
        width: 60vw;
        height: 30vh;
    }
}
/* CAIXAS DE RECORTE DA FONTE*/
div > p {
    margin: 0rem;
    padding: 0rem;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.fonte-a,
.fonte-b,
.fonte-c{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    border: 2px solid white;
    font-size: 3rem;
    padding: 0.1rem 0.6rem;
    width: fit-content;
    height: fit-content;
    margin-top: 0.5rem;
}

.fonte-a{
    border: 4px solid black;
    background-color: red;
    color: white;
}

.fonte-b {
    background-color: black;
    color: red;
}

.fonte-c {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 600px) {
    .fonte-a,
    .fonte-b,
    .fonte-c{
        border: 1px solid white;
        padding: 0.2rem 0.4rem;
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }
    .fonte-a {
        border: 3px solid black;
    }
}