/* PADRÃO CIRCULAR DO FUNDO */
body {
    margin: 0rem;
    padding: 0rem;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.background {
    margin: 0rem;
    padding: 0rem;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    background-color: black;

    z-index: 0;
    display:flex;
    flex-wrap: wrap; /* envolve o conteúdo na DIV */
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.circle-pattern {
    width: fit-content;
    height: fit-content;

    margin: 5rem; /* TAMANHO DA LISTRA PRETA*/

    border: 5rem solid #ff1112; /* TAMANHO DA LISTRA VERMELHA*/
    border-radius: 50%;

    position: relative;
}

@media only screen and (max-width: 600px) {
    .circle-pattern {
    margin: 2.5rem; /* TAMANHO DA LISTRA PRETA*/

    border: 2.5rem solid #ff1112; /* TAMANHO DA LISTRA VERMELHA*/
}
}

/* CONTEÚDO */
.content {
    width: 100vw;
    height: 100vh;

    z-index: 10000;
    position: absolute;

    color: black;
    font-style: italic;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


/* LOGO */
.logo {
    width: 25vw;
    height: 30vh;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 50vw;
        height: 20vh;
    }
}